---
import Layout from "../layouts/Layout.astro";
import Portada from "../components/Portada.astro";
import WhyUs from "../components/WhyUs.astro";
import OurPrograms from "../components/OurPrograms.astro";
import OurTeam from "../components/OurTeam.astro";
import CTA from "../components/CTA.astro";
---

<Layout title="Academia Dexum">
    <main>
        <Portada />
        <WhyUs />
        <OurPrograms />
        <OurTeam />
        <CTA />
    </main>
</Layout>
