<section
    class="px-4 flex py-24 items-center md:px-[64px] md:py-20 lg:px-[194px] bg-red-50"
>
    <div
        class="rounded-md px-4 py-8 flex flex-col gap-4 bg-no-repeat bg-cover md:px-20 md:py-20 lg:px-32 lg:py-32"
        style="background-image: url('/public/images/teachers-bg-red.jpg');"
    >
        <h3 class="text-4xl text-white font-black text-center">
            ¿Listo para unirse a nuestra comunidad educativa? ¡Contáctanos hoy
            mismo!
        </h3>
        <p class="text-lg font-medium text-white text-center">
            Estamos aquí para responder a todas tus preguntas y ayudarte en el
            proceso de inscripción. No dudes en ponerte en contacto con nosotros
            para obtener más información sobre nuestros programas, horarios de
            clases o para programar una visita a nuestras instalaciones.
            ¡Esperamos escucharte pronto!
        </p>
        <div class="flex justify-center">
            <button
                class="px-6 py-3 text-primary bg-gray-50 rounded-md text-xl font-medium"
                >¡Hablemos!
            </button>
        </div>
    </div>
</section>