<footer
    class="bg-[#232323] px-4 flex py-10 items-center md:px-[64px] md:py-12 lg:px-[194px]"
>
    <div class="flex flex-col justify-between w-full md:flex-row gap-4">
        <div class="text-xl font-bold text-gray-50">
            ACADEMIA <span class="text-primary">DEXUM</span>
        </div>
        <nav>
            <ul
                class="flex flex-col whitespace-nowrap gap-2 text-base font-medium text-white md:flex-row md:gap-4"
            >
                <li>
                    <a href="">Acerca de nosotros</a>
                </li>
                <li>
                    <a href="">Programas</a>
                </li>
                <li>
                    <a href="">Nuestro equipo</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
<div class="bg-black -mt-[1px] text-center">
    <span class="text-white text-sm font-normal">power by <a href="https://vcristian.com" target="_blank" class="underline">vcristian.com</a></span>
</div>
